@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan dikit biar font-nya cakep */
body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar Super Tipis & Elegan */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.2); /* slate-400 dengan opacity */
  border-radius: 20px;
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.5);
}

/* Scrollbar khusus Sidebar (latar gelap) */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 20px;
}
.sidebar-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}